<nav class="navbar navbar-light bg-light"> <!-- cria uma navbar com pretas (navbar-light) com o fundo branco (bg-light) *bg abreviacao de "background" -->

    <a href="/" class="navbar-brand">

        <img src="/img/logo.png">

    </a>

</nav>
